<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Places
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Places</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Places page">
    Helo
  </app-explore-container>
  <div>
    <ion-card>
      <img class="image-place" src="../../assets/img/image-nz.jpg" alt="location">
      <ion-card-header>
        <ion-card-subtitle>New Zealand</ion-card-subtitle>
        <ion-card-title>Forest</ion-card-title>
      </ion-card-header>
     
      <ion-card-content>
       New Zealand has a dazzling wealth of breathaking scenary, friendly and fun-loving people, plenty of things to see and do, mouthwatering food and wine and vibe that is unlike anywhere else in the word.
      </ion-card-content>
    </ion-card>
    <ion-card>
      <img class="image-place" src="../../assets/img/image-canada.jfif" alt="location">
      <ion-card-header>
        <ion-card-subtitle>Canada</ion-card-subtitle>
        <ion-card-title>City</ion-card-title>
      </ion-card-header>
     
      <ion-card-content>
        The expanse of Canda's natural beauty, from mountains and glaciers to secluded lakes and forests, is most unparalleled worldwide.
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
