<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      About us
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">About us</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 3 page"></app-explore-container>
  <form>
    <h1>FORM CONTACT</h1>
    <label>Email:</label><br>
    <input type="email" name="" id="">
    <label>Message:</label><br>
    <textarea name="" id="" cols="30" rows="10"></textarea>
    <button type="submit">Send</button>
  </form>
  <p>&copy; Stive Ospina, 2022</p>
</ion-content>
